* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
body{
    background-image: url("../img/fondo.jpg");
    text-align: center;
    font-size: 2rem;
    background-repeat: no-repeat;  
    width: 100%; 
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 60%;
    align-items: center;
    padding: 30px;
}
.card img {
    width: 100%;
    display: block;
}
.ganador {
    clear: both;
    margin: 30px auto;
    width: 80%;
    padding: 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.ganador img {
    width: 300px;
    height: 400px;
    display: block;
    margin: 0 auto;
}